*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg); 
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
 .icon{
    width: 200px;
    float: left;
    height: 70px;
 }
 .logo{
    color: #ff7200;
    font-size: 40px;
    font-family: Arial;
    padding-left: 20px; 
    float: left;
    padding-top: 10px;
 }
 .menu{
    width: 400px;
    float: left;
    height: 70px;
 }
 ul {
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 ul  li { 
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
 } 
  ul li a{ 
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out ;
 }
 ul li a:hover{
    color:#ff7200;
 }
 footer{
    width: 1200px;
    height:auto;
    margin:auto;
    color :#fff;
    position: relative; 
 }
 .content{
    width: 1200px;
    height:auto;
    margin:auto;
    color :#fff;
    position: relative; 
 }
 .content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
 }
 .content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;;
 }
 .footer .cn{
    width: 160px;
    height: 40px;
    background-color: #ff7200;
    border:none;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
   margin-left: 80px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;

 }
 .footer .cn a{
    text-decoration:none;
    color:black;
    transition: .3s ease;
 }
 .cn:hover{
    background-color:#fff;
 }
 .content .img{
    width: 50px;
    height: 40px;
    border:none;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer; 
    margin-right: 150px;
    margin-left: 80px;
 } 
 .content .ul
 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
 }
 .content span{
    color:#ff7200;
    font-size:60px;
 }